@{
    ViewData["Title"] = "Password";
}

<div class="Centr">
	<form asp-controller="Home" asp-action="Password">
		<h1>Password</h1>
		<br />
		<input type="password" name="Key" />
		<input type="submit" class="ButtOpen Butt" value="Enter" />
	</form>
</div>

